.nounderline {
    text-decoration: none !important;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.addremove {
    vertical-align: bottom;
    font-size: 20px;
}
.modal-backdrop.fade.in
{
    opacity: .5;
}

/*.jumbotron {
    background-color: #96b866;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/background.png");
}*/

.clear {
    clear: both;
}

.margT40 {
    margin-top: 40px;
}

.jumbotron {
    text-shadow: #2a2a2a 0 1px 1px;
    background: url("../img/background.png") no-repeat center center;
    text-align: center;
}
